{% extends 'bases/index-base.html' %}
{% load static %}
{% block content %}
<div id="titlebar">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>Creation de compte artisan</h2>
                <h3>2/4 Information sur votre activité</h3>
                <!-- Breadcrumbs -->
            </div>
        </div>
    </div>
</div>
<div class="container">
    
    
    <div class="row tabs-container">
        <div class="col-md-3"></div>
        <div class="col-md-6">
           
           <form method="post" action="#" class="register" enctype="multipart/form-data">
               {% csrf_token %}
                <p class="form-row form-row-wide">
                    {{ form.profile_image.label }}
                    {{ form.profile_image }}
                    <label for="sector">Secteur d'activité
                        <select name="sector">
                            {% for sector in sectors %}
                            	<option value="{{ sector.id }}"> {{ sector.name }}</option>
                            {% endfor %}
                        </select>
                    </label>
                    {{ form.bio.label }}
                    {{ form.bio }}
                    {{ form.whatsApp_phone.label }}
                    {{ form.whatsApp_phone }}
                    
                </p>
                <input type="submit" class="button border fw margin-top-10" name="register" value="Suivant" />

           </form>
         </div>
        <div class="col-md-3"></div>
    </div>
</div>    


{% endblock %}