{% extends 'bases/index-base.html' %}
{% load static %}
{% block content %}
<div id="titlebar">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>Creation de compte artisan</h2>
                <h3>4/4 Information personnelle</h3>
                <!-- Breadcrumbs -->
            </div>
        </div>
    </div>
</div>
<div class="container">
    
    
    <div class="row tabs-container">
        <div class="col-md-3"></div>
        <div class="col-md-6">
           
           <form method="post" action="#" class="register">
               {% csrf_token %}
                <p class="form-row form-row-wide">
                    {{ form.as_p }}
                </p>
                <input type="submit" class="button border fw margin-top-10" name="register" value="Suivant" />

           </form>
         </div>
        <div class="col-md-3"></div>
    </div>
</div>    


{% endblock %}