{% extends 'bases/index-base.html' %}
{% load static %}
{% block content %}
<!-- Content
================================================== -->


<!-- Container -->
<div class="container padding-top-40">
    <div class="small-dialog-header">
        <h3>Sign In</h3>
    </div>
   <div class="col-lg-6 col-md-6">
       <!-- Sign In Popup -->
        <div id="sign-in-dialog">
            <div class="notification error closeable margin-bottom-50">
				<p><span>Error!</span> Please fill in all the fields required.</p>
				<a class="close" href="#"></a>
			</div>
            
        
            <!--Tabs -->
            <div class="sign-in-form style-1">
                
                <ul class="tabs-nav">
                    <li><a href="#">Register</a></li>
                    <li><a href="{% url 'login' %}">Log In</a></li>
                </ul>
        
                <div class="tabs-container alt">
                    <!-- Register -->
                    <div class="tab-content">
        
                        <form method="post" action="#" class="register">
                            {% csrf_token %}
                        <p class="form-row form-row-wide">
                            <label for="username">Username:
                                <i class="im im-icon-Male"></i>
                                <input type="text" class="input-text" name="username" id="username" value="" />
                            </label>
                        </p>
                            
                        <p class="form-row form-row-wide">
                            <label for="email2">Email Address:
                                <i class="im im-icon-Mail"></i>
                                <input type="text" class="input-text" name="email" id="email2" value="" />
                            </label>
                        </p>
        
                        <p class="form-row form-row-wide">
                            <label for="password">Password:
                                <i class="im im-icon-Lock-2"></i>
                                <input class="input-text" type="password" name="password" id="password"/>
                            </label>
                        </p>
        
                        <p class="form-row form-row-wide">
                            <label for="confirm_password">Repeat Password:
                                <i class="im im-icon-Lock-2"></i>
                                <input class="input-text" type="password" name="confirm_password" id="confirm_password"/>
                            </label>
                        </p>
                        <div class="checkboxes margin-top-10 margin-bottom-10">
                            <input id="is-artisan" type="checkbox" name="is_artisan">
                            <label for="is-artisan">I am artisan</label>
                        </div>
        
                        <input type="submit" class="button border fw margin-top-10" name="register" value="Register" />
        
                        </form>
                    </div>
        
                </div>
            </div>
        </div>
        <!-- Sign In Popup / End -->
   </div>
</div>

<!-- Container / End -->
{% endblock %}
